<footer class="bg-gray-800 text-white py-6 px-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="flex items-center mb-4 md:mb-0">
      <img src="assets/img/Logo-blanco-Gas-tomza.png" alt="Company Logo" class="h-12 mr-3">
      <span class="text-lg font-semibold">{{ companyName }}</span>
    </div>
    <div class="text-center md:text-right">
      <h3 class="text-lg font-semibold mb-2">Contáctanos</h3>
      <p class="mb-1">Correo: <a [href]="'mailto:'+email" class="text-blue-400 hover:underline">{{ email }}</a></p>
      <p class="mb-1">Teléfono: <a href="tel:+1234567890" class="text-blue-400 hover:underline">{{ phone }}</a></p>
      <p><a [href]="facebook">Facebook</a></p>
    </div>
  </div>
  <div class="text-center mt-4 border-t border-gray-700 pt-4">
    <p class="text-sm">&copy; 2020-2024 {{ companyName }}. - Tus mas grandes aliados en Gas LP.</p>
  </div>
</footer>
