<!--<form #loginForm="ngForm" (ngSubmit)="SearchSaleOrder()" ngNativeValidate>-->
<!--  <div>-->
<!--    <label for="rfc">RFC</label>-->
<!--    <input id="rfc" [(ngModel)]="rfc" name="rfc"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="pos">Punto de venta</label>-->
<!--    <input id="pos" [(ngModel)]="pointOfSale" name="pos"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="refGaspar">Referencia Gaspar</label>-->
<!--    <input id="refGaspar" [(ngModel)]="gasparRef" name="refGaspar"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="orden"># Orden</label>-->
<!--    <input id="orden" [(ngModel)]="saleRef" name="orden"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="fecha">Fecha de venta</label>-->
<!--    <input id="fecha" [(ngModel)]="saleDate" name="fecha"/>-->
<!--  </div>-->
<!--  <button>Buscar</button>-->
<!--</form>-->


<br>
<br>
<br>
<div class="wrapper">
  <div class="imagen">
    <IMG SRC="assets/img/llamita.png" WIDTH=40 HEIGHT=40>
  </div>
  <div class="title-text">
    <div class="title">
      Buscar Nota
    </div>
  </div>
  <a> Llenar los recuadros con los datos correspondientes</a>
  <br>
  <br>
  <div class="form-inner">
    <form #loginForm="ngForm" (ngSubmit)="SearchSaleOrder()" ngNativeValidate class="RFC">
      <span class="input-group-text" id="Span5">RFC:</span>
      <input [(ngModel)]="rfc" name="rfc" type="text" id="Header_TB_NumRfc" class="form-control"
        aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingresa R.F.C."
        required="" style="text-transform: uppercase;" />
      <pre id="resultado"></pre>
      <span id="Header_LB_Messag" style="color:#CC2128;font-size:6pt;"></span>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Span4">Punto Venta:</span>
        </div>
        <input [(ngModel)]="pointOfSale" name="pos"
               type="text" placeholder="Punto de venta" class="form-control">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Span1">Orden de Compra:</span>
        </div>
        <input [(ngModel)]="saleRef" name="orden" type="text" id="Header_TB_NumTic" class="form-control"
               aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingresa Número"
               required="" />
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Span2">Buscar por:</span>
        </div>
        <select [(ngModel)]="tipo" name="tipo" type="text" id="Header_TB_NumTic2" class="form-control"
                aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingresa Número"
                required="">
          <option [ngValue]="0">Selecciona una opción</option>
          <option *ngFor="let tip of tipoBusqueda" [ngValue]="tip.id">{{tip.name}}</option>
        </select>
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Span3">Fecha Venta:</span>
        </div>
        <input [(ngModel)]="saleDate" name="fecha"
               type="date" name="fechaesperada" data-val-requires="Date is required" required>
        <!--  <input name="ctl00$Header$TB_FecRec" type="text" id="Header_TB_FecRec" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Fecha del recibo" data-val-required="Date is required" required="" />-->
      </div>

      <br>

      <div class="buscar" align="center">
        <div class="btn-layer"></div>
        <button id="buscar" type="submit" value="buscar"> Buscar </button>
      </div>
    </form>
  </div>
</div>

