.datos{
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5px;
  grid-gap: 10px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}



/** listado de opciones **/

option:hover {
  background:lightgray;
}


/** tabla total, impuestos, pagado**/
.pagos{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.mensaje {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.error {
  background-color: #f8d7da;
  color: #b02a37;
  border: 1px solid #b02a37;
}

.success {
  background-color: #d1e7dd;
  border: 1px solid #a3cfbb;
  color: #146c43;
}

.error-header {
  text-align: left;
}
li {
  list-style-type: none;
}
