<div class="welcome">
  <h1>FACTURACIÓN ELECTRÓNICA</h1>
  <hr>
  <p>Grupo Tomza</p>
  <p>¿De donde nos visitas?</p>
    <select id="soflow-color" [ngModel]="ciudad" class="city-select" name="ciudad" (ngModelChange)="onChangeCity($event)" >
      <option [ngValue]="'0'"> Seleccionar </option>
      <option *ngFor="let c of ciudades" [ngValue]="c.id" routerLink="buscar" [queryParams]="{ciudad: c.id}">
        <a routerLink="buscar" [queryParams]="{ciudad: c.id}"> {{c.name}} </a></option>
    </select>
</div>
