.img-header .welcome > button{
  width: 170px;
  height: 40px;
  background: var(--red);
  border-radius: 24px;
  border:none;
  outline: none;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.img-header .welcome > button:hover{
  background:var(--black);
}

.img-header .welcome > button:a{
  background:var(--white);
}

/* Buscar nota*/
::selection{
  background: #cc2128;
  color: #fff;


}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 35px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.1);
  font-size: 15px;
  max-height: 480px;
  font-family:serif;
}

.imagen{
  text-align: center;
  max-height: 40px;
}

.wrapper .title-text{
  display: flex;
  width: 200%;
  color:var(--red);
  max-height: 80px;
}

.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.input-group-text{
  text-align: center;
  font-weight: 600;
}


.has-success .form-control, .form-control.valid {
  color: #66615b;
  border-color: #e8e7e3;
}
.form-control, .input-group-addon {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.form-control {
  background-color: #F3F2EE;
  border: 1px solid #e8e7e3;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-color: var(--red);
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-color: #cc2128;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, select {
  text-transform: none;

}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-color: #cc2128;
  border-radius: 10px;
}

/*boton buscar*/
button{
  background: var(--red);
  color: var(--white);
  width: 170px;
  height: 40px;
  border:none;
  outline: none;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  display: inline;
  border-radius: 24px;
  font-family: Open Sans;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* hoja de estilo del agente de usuario */
select:not(:-internal-list-box) {
  overflow: visible !important;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select:not(:-internal-list-box) {
  overflow: visible !important;
}
/* hoja de estilo del agente de usuario */
select {
  writing-mode: horizontal-tb !important;
  /* font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ; */
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: field;
  cursor: default;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
}
.card {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  padding: 10px 0;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
body {
  color: #66615b;
  font-size: 14px;
  font-family: 'Muli', Arial, sans-serif;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
