<div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full">
  <h2 class="text-2xl font-semibold mb-4">Regístrate</h2>
  <p class="text-gray-700 mb-6">
    Llenar los recuadros con los datos correspondientes
  </p>
  <form (ngSubmit)="CreateCustomer()">
    <div class="mb-4">
      <label class="form-label" for="name">Nombre o Razón Social</label>
      <input [(ngModel)]="name" name="name" type="text" id="name" class="form-control" placeholder="Nombre o Razón Social" required>
    </div>
    <div class="mb-4">
      <label class="form-label" for="vat">RFC</label>
      <input [(ngModel)]="vat" name="vat" type="text" id="vat" class="form-control" placeholder="XAXX" required>
    </div>
    <div class="mb-4">
      <label class="form-label" for="email">Correo Electrónico</label>
      <input [(ngModel)]="email" name="email" type="text" id="email" class="form-control" placeholder="name@email.com" required>
    </div>
    <div class="mb-4">
      <label class="form-label" for="postal_code">Código Postal</label>
      <input [(ngModel)]="zip" name="postal_code" type="text" id="postal_code" class="form-control" placeholder="00000" required>
    </div>
    <div class="mb-4">
      <label class="form-label" for="fiscal_regime">Régimen Fiscal</label>
      <select [(ngModel)]="l10n_mx_edi_fiscal_regime" name="fiscal_regime" id="fiscal_regime" class="form-control"
              aria-label="Small" aria-describedby="inputGroup-sizing-sm"
              required>
        <option [ngValue]="''" disabled>Selecciona un Régimen Fiscal</option>
        <option *ngFor="let fr of fiscalRegimes" [ngValue]="fr.id">{{ fr.name }}</option>
      </select>
    </div>

  <button class="bg-red-zae text-white py-2 px-4 rounded hover:bg-red-900 transition duration-200" type="submit">Guardar</button>
  </form>
</div>

<!--<div class="welcome">-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div class="wrapper">-->
<!--  <div class="imagen">-->
<!--    <IMG SRC="assets/img/llamita.png" WIDTH=40 HEIGHT=40>-->
<!--  </div>-->
<!--  <div class="title-text">-->
<!--    <div class="title">-->
<!--      Regístrate-->
<!--    </div>-->
<!--  </div>-->
<!--  <a> Llenar los recuadros con los datos correspondientes</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <div class="form-inner">-->
<!--    <form #loginForm="ngForm" (ngSubmit)="CreateCustomer()" ngNativeValidate class="RFC">-->
<!--      <span class="input-group-text" id="Span5">Nombre o Razón Social</span>-->
<!--      <input [(ngModel)]="name" name="Name" type="text" id="Header_TB_NumRfc" class="form-control"-->
<!--             aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder=""-->
<!--             required="true" style="text-transform: uppercase;" />-->
<!--      <pre id="resultado"></pre>-->
      <span id="Header_LB_Messag" style="color:#CC2128;font-size:6pt;"></span>
<!--      <div class="input-group input-group-sm mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--          <span class="input-group-text" id="Span4">RFC:</span>-->
<!--        </div>-->
<!--        <input [(ngModel)]="vat" name="vat" id="vat"-->
<!--               type="text" placeholder="XAXX" class="form-control">-->
<!--      </div>-->
<!--      <div class="input-group input-group-sm mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--          <span class="input-group-text" id="Span1">E-mail</span>-->
<!--        </div>-->
<!--        <input [(ngModel)]="email" name="email" type="text" id="email" class="form-control"-->
<!--               aria-label="Small" aria-describedby="inputGroup-sizing-sm"-->
<!--               required="" />-->
<!--      </div>-->

<!--      <div class="input-group input-group-sm mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--          <span class="input-group-text" id="Span3">Código Postal:</span>-->
<!--        </div>-->
<!--        <input [(ngModel)]="zip" name="zip" type="text" class="form-control"-->
<!--               aria-label="Small" aria-describedby="inputGroup-sizing-sm"-->
<!--               required="" >-->
<!--        &lt;!&ndash;  <input name="ctl00$Header$TB_FecRec" type="text" id="Header_TB_FecRec" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Fecha del recibo" data-val-required="Date is required" required="" />&ndash;&gt;-->
<!--      </div>-->

<!--      <div class="input-group input-group-sm mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--          <span class="input-group-text" id="Span">Régimen Fiscal:</span>-->
<!--        </div>-->
<!--        <select [(ngModel)]="l10n_mx_edi_fiscal_regime" required name="fiscalRegime"-->
<!--                class="form-control">-->
<!--          <option [ngValue]="null" disabled>Selecciona un Régimen Fiscal</option>-->
<!--          <option *ngFor="let reg of fiscalRegimes" [ngValue]="reg.id">{{reg.name}}</option>-->
<!--        </select>-->
<!--        &lt;!&ndash;  <input name="ctl00$Header$TB_FecRec" type="text" id="Header_TB_FecRec" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Fecha del recibo" data-val-required="Date is required" required="" />&ndash;&gt;-->
<!--      </div>-->

<!--      <br>-->

<!--      <div class="buscar" align="center">-->
<!--        <div class="btn-layer"></div>-->
<!--        <button id="buscar" type="submit" value="buscar"> Regístrate </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->
